<html>
<head>
    <title>Beast Roll!</title>
</head>
<body>

<p>A helper app for rolling multiple attacks for large numbers of summoned beasts. See the
    <a href="https://github.com/cjstehno/beastroll">GitHub project</a> for source.</p>

<ul>
    <li>Roll Dice: <code>/roll/:NdD[/:MOD]</code> (e.g. <a href="/roll/2d6/2">/roll/2d6/2</a>)</li>
    <li>List Beasts: <code>/beasts</code> (e.g. <a href="/beasts">/beasts</a>)</li>
    <li>Roll Attacks: <code>/rolls/:beast[/:number]</code> (e.g. <a href="/rolls/elk/3">/rolls/elk/3</a>)</li>
</ul>

</body>
</html>

